<<<<<<< HEAD
{% extends 'base.html.twig' %} {% block title %}Log in!{% endblock %} {% block
body %}
=======
{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block content %}
>>>>>>> develop
<form method="post">
    {% if error %}
    <div class="alert alert-danger">
        {{ error.messageKey|trans(error.messageData, 'security') }}
    </div>
    {% endif %} {% if app.user %}
    <div class="mb-3">
        You are logged in as {{ app.user.userIdentifier }},
        <a href="{{ path('app_logout') }}">Logout</a>
    </div>
    {% endif %}
    <div class="mx-auto max-w-2xl text-center">

<<<<<<< HEAD
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail">Email</label>
    <input
        type="email"
        value="{{ last_username }}"
        name="email"
        id="inputEmail"
        class="form-control"
        autocomplete="email"
        required
        autofocus
    />
    <label for="inputPassword">Password</label>
    <input
        type="password"
        name="password"
        id="inputPassword"
        class="form-control"
        autocomplete="current-password"
        required
    />

    <input
        type="hidden"
        name="_csrf_token"
        value="{{ csrf_token('authenticate') }}"
    />
=======
        <h1 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl my-6">Connectez-vous</h1>
        <p class="mt-4 text-lg text-gray-600">Connectez-vous votre compte pour accéder à l'ensemble des fonctionnalités de l'application.</p>
        <h3>Vous n'avez pas de compte ? <a href="{{ path('app_register') }}">Inscrivez-vous</a></h3>
        <hr class="my-4">
    </div>

    <div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2 my-10 px-24">
        <div>
            <label class="block text-sm font-semibold leading-6 text-gray-900" for="inputEmail">Email</label>
            <input class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
        </div>

        <div>
            <label class="block text-sm font-semibold leading-6 text-gray-900" for="inputPassword">Password</label>
            <input  class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
        </div>

    </div>
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
>>>>>>> develop

    {# Uncomment this section and add a remember_me option below your firewall
    to activate remember me functionality. See
    https://symfony.com/doc/current/security/remember_me.html

    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" name="_remember_me" /> Remember me
        </label>
    </div>
    #}

<<<<<<< HEAD
    <button class="btn btn-lg btn-primary" type="submit">Sign in</button>
    <p>
        Not registered yet ?
        <a href="http://127.0.0.1:8000/register">Create an account</a>
    </p>
=======
    <button class="block w-1/5 mx-auto rounded-md bg-indigo-600 px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 mb-4" type="submit">
        Se connecter
    </button>
>>>>>>> develop
</form>
{% endblock %}
