{% extends 'pages/base.html.twig' %} {% block content %}
<section>
    <div class="flex flex-col">
        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{
            form_row(registrationForm.plainPassword, {
                label: 'Password'
            })
        }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Register</button>
    </div>
</section>
{{ form_end(registrationForm) }}{% endblock %}
